<!DOCTYPE html>
<html>
<head>
<h1>Welcome "U Normies" to the Trade Advisor Web APP</<h1>
  <h2>Please LogIn ; if you are new here be welcome and please register to my super amazing APP</h2>
</head>
<body>
  <script>
    {% include "homepage/welcome.js" %}
  </script>

<p>

  <button type="button" onclick ="onLoginClick()">Login Here:</button>

</p>


<p>

  <button type="button" onclick = "onRegisterClick()">Register Here:</button>

</p>

<br />
<br />

<p>

  <button type="button" onclick = "onVersionClick()">Version</button>

</p>

<p id=getVersion></p>

<br />
<br />

  <button type = "button" onclick = "onContactClick()">Contact Us:</button>
</body>
</html>
